{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf%}
{% import 'macros.html' as macro %}

{% block styles%}
{{ super() }}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Koh+Santepheap:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}


{%block content%}
<h3 class="text-center text-uppercase" style="color:black;font-family: 'Koh Santepheap', cursive;">Blog comment</h3>

<div class="container">
    <hr>
    <div class="row">
        <div class="col-md-6">
            <h3 class="pt-3" style="font-size: 20pt; color:black;font-family: 'Koh Santepheap', cursive;"><b>{{blog.blog_title}}</b></h3>
            <p style="font-size: 15pt;font-family: 'Koh Santepheap', cursive;">{{blog.blog_content}}</p>
        </div>
        <div class="col-md-6">
            {{ wtf.quick_form(comment_form) }}
        </div>
    </div>
    <hr>
    <div class="row">
        <h3 class="text-center text-uppercase" style="color:black;font-family: 'Koh Santepheap', cursive;">Display comments</h3>
        {{macro.displayComments(comment)}}
    </div>

</div>
{% endblock %}